body {
    background-color: wheat;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    background-color: burlywood;
    color: black;
    padding: 30px;
    text-align: center;
    position: flex;
    top: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    margin-right: 80px;
    font-size: 20px;
} 
 
nav li:hover {
    color: red;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    color: red;
}

nav li a:visited {
    color: purple;
}

nav li a:active {
    color: green;
}

h1 {
    color: darkgreen;
    text-align: center;
}

h2 {
    color: darkgreen;
    text-align: center;
}

h3 {
    color: darkgreen;
    text-align:left;
}

p {
    color: darkgreen;
    text-align:left ;
}

ul {
    color: darkgreen;
    text-align:left;
}

ol {
    color: darkgreen;
    text-align:left;
}

li {
    color: darkgreen;
    text-align:left;
}   


img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}



footer {
    background-color: burlywood;
    color: black;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
