nav {
  background-color: green;
  color: #fff;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
}

nav li {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  font-weight: bold;
  color: #ffdd01;
  border-bottom: 2px solid #4caf50;
}
section {
  margin: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: green;
  color: #fff;
  padding: 45px;
  text-align: center;
}

footer p {
  margin: 0;
}

.flower-image {
  display: block;
  margin: 0 auto;
}
